
<div style="background-color: deepskyblue; padding-bottom:0px;margin: 0px 0 0px;border-bottom: 0px solid #eeeeee; vertical-align:text-top" class="page-header">
    <h2 style="color: white">SoftProdigy</h2>
    <nav style="background-color: deepskyblue;" class="navbar navbar-default navbar-static-top" role="navigation">
        <a style="color: white" class="navbar-brand" href="#">SoftProdigy</a>
        <ul class="nav navbar-nav">
            <li>
                <a style="color: white" href="#">Home</a>
            </li>
            <li>
                <a style="color: white" href="#">Link</a>
            </li>
        </ul>
    </nav>
</div>
