@model SPmvccrudoperations.Employee

@{
    ViewBag.Title = "Create Employee";
}

<body data-new-gr-c-s-check-loaded="14.1062.0" data-gr-ext-installed="">

    <div class="container body-content">

        <script src="/Scripts/jquery.validate.min.js" type="text/javascript"></script>
        <script src="/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

        <form action="" id="form-employee" method="post" novalidate="novalidate">
            <input name="__RequestVerificationToken" type="hidden" value="YDBvVbkPNZeGQvSgREw6_R6LFhaVTAmvBEP-SyGK8PsvKNLSpwBgUIt0urSL9hU6N_sQ8REUHsjr1FO8z2izcdRjehmLM9WfH7gZplm0YWw1">    <div class="form-horizontal">
                <h4>Employee</h4>
                <hr>

                <div class="form-group">
                    <label class="control-label col-md-2" for="EmployeeName">EmployeeName</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" data-val="true" data-val-required="EmployeeName is required" id="txt-employee-name" name="EmployeeName" type="text" value="">
                        <span class="field-validation-valid text-danger" data-valmsg-for="EmployeeName" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="EmployeeSalary">EmployeeSalary</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" data-val="true" data-val-number="The field EmployeeSalary must be a number." data-val-required="EmployeeSalary is required" id="txt-employee-salary" name="EmployeeSalary" type="text" value="">
                        <span class="field-validation-valid text-danger" data-valmsg-for="EmployeeSalary" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="EmployeeCity">EmployeeCity</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" data-val="true" data-val-required="EmployeeCity is required" id="txt-employee-city" name="EmployeeCity" type="text" value="">
                        <span class="field-validation-valid text-danger" data-valmsg-for="EmployeeCity" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default">
                    </div>
                </div>
            </div>
        </form>
        <div>
            <a href="/Employee/Index
               ">Back to List</a>
        </div>




    </div>

    <script src="/Scripts/jquery-3.4.1.js"></script>

    <script src="/Scripts/bootstrap.js"></script>


    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>

    <script>
        $(document).ready(function () {
            $('#form-employee').on('submit', function (e) {
                e.preventDefault();


                if (!$('#txt-employee-name').val()) {
                    alert('Employee name is not defined!')
                }
                else if (!$('#txt-employee-salary').val()) {
                    alert('Employee salary is not defined!')
                }
                else if (!$('#txt-employee-city').val()) {
                    alert('Employee city is not defined!')
                }
                else
                {
                    $.ajax({
                        url: "/Employee/Create",
                        method: "POST",
                        data: { EmployeeName: $('#txt-employee-name').val(), EmployeeSalary: $('#txt-employee-salary').val(), EmployeeCity: $('#txt-employee-city').val()},
                        success: function (result) {
                            alert("this is coming from ajax success");
                            $(':input', '#form-employee')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                        }
                    });
                }

            })
        })
    </script>



</body>