@model SPmvccrudoperations.Models.EmployeeViewModel

@{
    ViewBag.Title = "Create Employee";
}

<div class="container body-content">

       <form action="" id="form-employee" method="post" novalidate="novalidate">
        <input name="__RequestVerificationToken" type="hidden" value="YDBvVbkPNZeGQvSgREw6_R6LFhaVTAmvBEP-SyGK8PsvKNLSpwBgUIt0urSL9hU6N_sQ8REUHsjr1FO8z2izcdRjehmLM9WfH7gZplm0YWw1">    <div class="form-horizontal">
            <h4>Employee</h4>
            <hr>

            <div class="form-group">
                <label class="control-label col-md-2" for="EmployeeName">EmployeeName</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="EmployeeName is required" id="txt-employee-name" name="EmployeeName" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="EmployeeName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="EmployeeSalary">EmployeeSalary</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field EmployeeSalary must be a number." data-val-required="EmployeeSalary is required" id="txt-employee-salary" name="EmployeeSalary" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="EmployeeSalary" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="EmployeeCity">EmployeeCity</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="EmployeeCity is required" id="txt-employee-city" name="EmployeeCity" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="EmployeeCity" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default">
                </div>
            </div>
        </div>
    </form>
    <div>
        <a href="/Employee/Index
               ">Back to List</a>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/CustomScripts/CustomScript.js"></script>
}
