@model SPmvccrudoperations.Employee

@{
    ViewBag.Title = "Employee Details";
}

<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <body data-new-gr-c-s-check-loaded="14.1062.0" data-gr-ext-installed>
        <div class="container body-content"
            
            <div>
                <h4>Employee</h4>
                <hr>
            </div>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <dt>EmployeeName</dt>
                        <dd>@Model.EmployeeName</dd>
                        <dt>EmployeeSalary</dt>
                        <dd>@Model.EmployeeSalary</dd>
                        <dt>EmployeeCity</dt>
                        <dd>@Model.EmployeeCity</dd>
                    </tr>
                </thead>
                <tbody>
                    <p>
                        <a href="/Employee/Edit/@Model.Employeeid">Edit</a>
                        |
                        <a href="/Employee/Index">Back to List</a>
                    </p>
                    <!-- jQuery -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                    <!-- Bootstrap JavaScript -->
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
